<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.dao.UserServiceMapper">
    <select id="getUserList" resultType="user">
        select
        user_id,user_name,user_account,user_phone,user_sex,user_grade,user_state
        from user
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="phone != null and phone != ''">
                and user_phone = #{phone}
            </if>
            <if test="username != null and username != ''">
                and user_name like concat('%',#{username},'%')
            </if>
            and user_grade != 0
        </where>
        limit ${size * (page-1)},${size}
    </select>
    <select id="getTotal" resultType="int">
        select
        count(1)
        from user
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="phone != null and phone != ''">
                and user_phone = #{phone}
            </if>
            <if test="username != null and username != ''">
                and user_name like concat('%',#{username},'%')
            </if>
        </where>
    </select>

    <update id="updateUserOne" parameterType="com.buba.pojo.user.User">
		update user set
		user_name=#{userName},
		user_phone=${userPhone},
		user_sex=#{userSex},
		user_grade=${userGrade},
		user_state=${userState}
		where user_account = #{userAccount}
    </update>
    <select id="selectOnetext" resultType="user">
        select
        user_id,user_name,user_sex,user_grade
        from user
        <where>
            <if test="id != null and id != ''">
                user_id = #{id}
            </if>
            <if test="name != null and name != ''">
                and user_name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <insert id="addUserTest">
        insert into user (user_name,user_sex,user_grade) values (#{name},#{sex},#{grade})
    </insert>

</mapper>